.container2 {
    text-align: justify;
    padding: 40px;
    margin: 40px auto;
    width: 700px;
    border-radius: 4px solid black;
    background-color: white;
    border: 2px solid black;
    align-self: flex-start;
  }
